In [202]:
import pandas as pd

In [203]:
df_raw =  pd.read_excel("data/raw/survey.xlsx", header = 1)
print(df_raw.columns.to_list())
df_type_1 = df_raw[df_raw.ID_VOLUNT == 1] # Pacientes de Controle
df_type_1 = df_type_1.loc[:, ~(df_type_1.eq(999) | df_type_1.eq(0)).all()].drop(columns=['INICIAIS']).reset_index(drop=True)
df_type_2 = df_raw[df_raw.ID_VOLUNT == 2] # Pacientes com Ovário Policistico
df_type_2 = df_type_2.loc[:, ~(df_type_2.eq(999) | df_type_2.eq(0)).all()].drop(columns=['INICIAIS']).reset_index(drop = True)

['ID_PROJ', 'ID_VOLUNT', 'INICIAIS', 'IDADE ', 'SEGUIU_METAS_1', 'SEGUIU_METAS2', 'SEGUIU_METAS3', 'T1_PONT_TOTAL', 'T1_PONT_A', 'T1_PONT_D', 'T2_PONT_TOTAL', 'T2_PONT_A', 'T2_PONT_D', 'PESO_T1', 'ALTURA', 'IMC_T1', 'IMC1_CLASS', 'CC_T1', 'CC_T1_CLAS', 'CQ_T1', 'RCQ_T1', 'RCQ_T1_CLAS', 'RCE_T1', 'RCE_T1_CLAS', 'CP_T1', 'CP_T1_CLAS', 'CB_T1', 'CB_T1_ADEQUA', 'CB_T1_CLAS', 'PESO_T2', 'IMC_T2', 'IMC2_CLASS', 'CC_T2', 'CC_T2_CLAS', 'CQ_T2', 'RCQ_T2', 'RCQ_T2_CLAS', 'RCE_T2', 'RCE_T2_CLAS', 'CP_T2', 'CP_T2_CLAS', 'CB_T2', 'CB_T2_ADEQUA', 'CB_T2_CLAS', 'VCT_T1', 'CHO_G_T1', 'CHO_%_T1', 'PTN_G_T1', 'PTN_%_T1', 'LIP_G_T1', 'LIP_%_T1', 'COLESTEROL_T1', 'ADEQ_COLES_T1', 'G_SAT_T1', 'ADEQ_G_SAT_T1', 'VCT_T2', 'CHO_G_T2', 'CHO_%_T2', 'PTN_G_T2', 'PTN_%_T2', 'LIP_G_T2', 'LIP_%_T2', 'COLESTEROL_T2', 'ADEQ_COLES_T2', 'G_SAT_T2', 'ADEQ_G_SAT_T2', 'Q_1_T1', 'Q_2_T1', 'Q_3_T1', 'Q_4_T1', 'Q_5_T1', 'Q_6_T1', 'Q_7_T1', 'Q_8_T1', 'Q_9_T1', 'Q_10_T1', 'Q_11_T1', 'Q_12_T1', 'Q_13_T1', 'Q_14_T1', 'Q_15_T1', 'Q_16_T1', 'Q_17_T1', 'Q_18_T1', 'Q_19_T1', 'Q_20_T1', 'Q_21_T1', 'Q_22_T1', 'Q_23_T1', 'TOTAl_T1', 'Q_1_T2', 'Q_2_T2', 'Q_3_T2', 'Q_4_T2', 'Q_5_T2', 'Q_6_T2', 'Q_7_T2', 'Q_8_T2', 'Q_9_T2', 'Q_10_T2', 'Q_11_T2', 'Q_12_T2', 'Q_13_T2', 'Q_14_T2', 'Q_15_T2', 'Q_16_T2', 'Q_17_T2', 'Q_18_T2', 'Q_19_T2', 'Q_20_T2', 'Q_21_T2', 'Q_22_T2', 'Q_23_T2', 'TOTAl_T2']

In [204]:
df_type_1.to_csv("data/staged/Control_P.csv", index = False, sep=";")
df_type_2.to_csv("data/staged/Affected_P.csv", index = False, sep=";")

## Classificação de Pacientes

In [205]:
df_class = pd.concat([df_type_1,df_type_2[df_type_1.columns]]).reset_index(drop=True)
df_class

,ID_PROJ,ID_VOLUNT,IDADE,T1_PONT_TOTAL,T1_PONT_A,T1_PONT_D,Q_1_T1,Q_2_T1,Q_3_T1,Q_4_T1,...,Q_15_T1,Q_16_T1,Q_17_T1,Q_18_T1,Q_19_T1,Q_20_T1,Q_21_T1,Q_22_T1,Q_23_T1,TOTAl_T1
0,S001,1,24,12,11,1,3,4,3,5,...,4,2,3,2,4,5,2,5,2,72
1,S007,1,36,10,5,5,5,3,3,1,...,5,5,1,5,5,5,5,5,5,84
2,S011,1,34,9,6,3,3,2,2,2,...,5,2,2,1,5,5,2,2,5,56
3,S021,1,30,10,7,3,5,3,5,3,...,4,4,4,5,5,5,3,3,5,90
4,S030,1,22,16,10,6,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,S117,2,23,12,5,7,3,1,5,2,...,5,5,4,4,4,4,3,3,3,69
91,S118,2,28,12,5,7,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
92,S119,2,39,32,18,14,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
93,S120,2,40,23,11,12,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
94,S121,2,29,7,1,6,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999